fastapi[all]
uvicorn
psycopg
psycopg-pool
pgvector
psycopg[binary]
psycopg2-binary

sqlalchemy
alembic

python-dotenv

python-multipart

# Authentication
python-jose[cryptography]
passlib[bcrypt]

# RAG
llama-index

# LangChain:
langgraph
langchain_openai
langchain_core
langgraph-sdk
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langchain
langchain-community
langchain-core
langchain-openai
langgraph-cli
langsmith
langchain-postgres
langchain-text-splitters

tavily-python
wikipedia

notebook

pypdf
docx2txt
unstructured
pillow
python-pptx
openpyxl
pandas
pdfminer.six


# twilio
twilio

#openAI
openai

# ngrok for development
pyngrok