fastapi[all]

psycopg
psycopg-pool
pgvector
psycopg[binary]

sqlalchemy
alembic

python-dotenv

python-multipart

# RAG
llama-index

# LangChain:
langgraph
langchain_openai
langchain_core
langgraph-sdk
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
langchain
langchain-community
langchain-core
langchain-openai
langgraph-cli
langsmith
langchain-postgres

tavily-python
wikipedia

notebook

pypdf
docx2txt
unstructured
pillow
python-pptx
openpyxl
pandas
pdfminer.six
